<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>탁스샤핑-shoppingMall</title>
<link rel="stylesheet" href="style.css" />
<link
	href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicWeb'
	rel='stylesheet' type='text/css' />
<script src="/include/js/jquery.min.js"></script>	
<script src="/include/js/less.min.js"> </script>
<script src="/include/js/jquery.tabs.js"></script>
</head>
<body lang="ko-kr">
	<header id="tab_design">
		<h1 id="brand">
			<a href="#">탁스샤핑</a>
		</h1>
		<nav class="left_menu">
			<ol>
				<li><a href="#">목걸이</a></li>
				<li><a href="#">반지</a></li>
				<li><a href="#">팔찌</a></li>
				<li><a href="#">머리핀</a></li>
				<li><a href="#">폰악세사리</a></li>
				<li><a href="#">희귀</a></li>
				<li><a href="#">코걸이</a></li>
				<li><a href="#">기타</a></li>
			</ol>
		</nav>
	</header>
	<div id="contents">
		<div id="tab_wrap">
			<div id="tab_nav">
				<ul>
					<li><a href="#"> 상품</a></li>
					<li><a href="#">로그인</a></li>
					<li><a href="#">장바구니</a></li>
				</ul>

			</div>
			<div id="tab_state">
				<div id="tab_state_sub"></div>
				<div id="helper">여기에 온 너희들 진심으로 환영한다. 반갑다.</div>
			</div>
		</div>
		<div class="item_contents clearfix">
			<ul>
				<li class="login">
					로그인페이지입니다.
				</li>
				<li class="shoppingCart">
					장바구니 페이지입니다.
				</li>
				<li class="item_list">
					
		
			<ul>
				<li><a href="#"> <img
						src="./include/images/armoire_678.jpg" />
				</a>
					<div class="item">루시엘 원피스 38,000</div>
					<h3></h3>
					<p></p></li>
				<li><a href="#"> <img
						src="./include/images/armoire_745.jpg" />
				</a>
					<div class="item">프랜즈 블라우스 58,000</div>
					<h3></h3>
					<p></p>
					<h3></h3>
					<p></p></li>
				<li><a href="#"> <img
						src="./include/images/armoire_828.jpg" />
				</a>
					<div class="item">루시엘 원피스 38,000</div>
					<h3></h3>
					<p></p>
					<h3></h3>
					<p></p></li>
				<li><a href="#"> <img
						src="./include/images/armoire_982.jpg" />
				</a>
					<div class="item">심플초이스 원피스 24,000</div>
					<h3></h3>
					<p></p>
					<h3></h3>
					<p></p></li>
				<li><a href="#"> <img
						src="./include/images/armoire_724.jpg" />
				</a>
					<div class="item">라인업티 58,400</div>
					<h3></h3>
					<p></p>
					<h3></h3>
					<p></p></li>
				<li><a href="#"> <img
						src="./include/images/armoire_802.jpg" />
				</a>
					<div class="item">그린티 원피스 32,200</div>
					<h3></h3>
					<p></p>
					<h3></h3>
					<p></p></li>
				<li><a href="#"> <img
						src="./include/images/armoire_806.jpg" />
				</a>
					<div class="item">소나타블라우스 원피스 38,200</div>
					<h3></h3>
					<p></p>
					<h3></h3>
					<p></p></li>
				<li><a href="#"> <img
						src="./include/images/armoire_828.jpg" />
				</a>
					<div class="item">루시엘 원피스 38,000</div>
					<h3></h3>
					<p></p>
					<h3></h3>
					<p></p></li>
				<li><a href="#"> <img
						src="./include/images/armoire_829.jpg" />
				</a>
					<div class="item">루시엘 원피스 38,000</div>
					<h3></h3>
					<p></p>
					<h3></h3>
					<p></p></li>
				<li><a href="#"> <img
						src="./include/images/armoire_900.jpg" />
				</a>
					<div class="item">루시엘 원피스 38,000</div>
					<h3></h3>
					<p></p>
					<h3></h3>
					<p></p></li>
				<li><a href="#"> <img
						src="./include/images/armoire_932.jpg" />
				</a>
					<div class="item">루시엘 원피스 38,000</div>
					<h3></h3>
					<p></p>
					<h3></h3>
					<p></p></li>
				<li><a href="#"> <img
						src="./include/images/armoire_956.jpg" />
				</a>
					<div class="item">루시엘 원피스 38,000</div>
					<h3></h3>
					<p></p>
					<h3></h3>
					<p></p></li>
				<li><a href="#"> <img
						src="./include/images/armoire_982.jpg" />
				</a>
					<div class="item">루시엘 원피스 38,000</div>
					<h3></h3>
					<p></p>
					<h3></h3>
					<p></p></li>
				<li><a href="#"> <img
						src="./include/images/armoire_745.jpg" />
				</a>
					<div class="item">루시엘 원피스 38,000</div>
					<h3></h3>
					<p></p>
					<h3></h3>
					<p></p></li>
				<li><a href="#"> <img
						src="./include/images/armoire_802.jpg" />
				</a>
					<div class="item">루시엘 원피스 38,000</div>
					<h3></h3>
					<p></p>
					<h3></h3>
					<p></p></li>
				<li><a href="#"> <img
						src="./include/images/armoire_678.jpg" />
				</a>
					<div class="item">루시엘 원피스 38,000</div>
					<h3></h3>
					<p></p>
					<h3></h3>
					<p></p></li>
				<li><a href="#"> <img
						src="./include/images/armoire_786.jpg" />
				</a>
					<div class="item">루시엘 원피스 38,000</div>
					<h3></h3>
					<p></p>
					<h3></h3>
					<p></p></li>
				<li><a href="#"> <img
						src="./include/images/armoire_828.jpg" />
				</a>
					<div class="item">루시엘 원피스 38,000</div>
					<h3></h3>
					<p></p>
					<h3></h3>
					<p></p></li>
				<li><a href="#"> <img
						src="./include/images/armoire_829.jpg" />
				</a>
					<div class="item">루시엘 원피스 38,000</div>
					<h3></h3>
					<p></p>
					<h3></h3>
					<p></p></li>
				<li><a href="#"> <img
						src="./include/images/armoire_900.jpg" />
				</a>
					<div class="item">루시엘 원피스 38,000</div>
					<h3></h3>
					<p></p>
					<h3></h3>
					<p></p></li>
				<li><a href="#"> <img
						src="./include/images/armoire_932.jpg" />
				</a>
					<div class="item">루시엘 원피스 38,000</div>
					<h3></h3>
					<p></p>
					<h3></h3>
					<p></p></li>
				<li><a href="#"> <img
						src="./include/images/armoire_956.jpg" />
				</a>
					<div class="item">루시엘 원피스 38,000</div>
					<h3></h3>
					<p></p>
					<h3></h3>
					<p></p></li>
				<li><a href="#"> <img
						src="./include/images/armoire_982.jpg" />
				</a>
					<div class="item">루시엘 원피스 38,000</div>
					<h3></h3>
					<p></p>
					<h3></h3>
					<p></p></li>
				<li><a href="#"> <img
						src="./include/images/armoire_829.jpg" />
				</a>
					<div class="item">루시엘 원피스 38,000</div>
					<h3></h3>
					<p></p>
					<h3></h3>
					<p></p></li>

			</ul>
		
					
				</li>
			</ul>
		
		
	</div>
	<footer> </footer>
</body>
</html>
