!!!
html
  head
    script(src="./include/js/jquery.min.js")
    script(src="./include/js/jquery.tabs.js")
    script(src="/socket.io/socket.io.js")
    script
    	var socket = io.socket();
    link(rel='stylesheet', href='./include/css/style.css')
    link(href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicWeb', rel='stylesheet',type='text/css')
  body!= body
  
